/* Inicio da página */
#tituloPrincipal{
    text-align: center;
    color: darkred;
    border-style: solid;
    border-radius: 10px;
    border-color: pink;
    background-color: antiquewhite;
    border-width: 5px;
}
.sectionInicio{
    display:flex;
    flex-direction: row;
}
#introdução{
    padding: 10px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: larger;
    margin-left: 50px;
    margin-top: 44px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(67, 1, 97);
    background-image: linear-gradient(145deg, rgb(205, 129, 250),rgb(226, 209, 228));
}
.textoInicio1{
    font-size: large;
    font-weight: bolder;
    margin-left: 5px;
    margin-right: 5px;
}
.contador{
    font-size: 25.5px;
    font-weight: bolder;
    border-style: dashed;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.timer{
    margin-left: 45%;
    margin-top: 45px;
    max-height: fit-content;
    border-style: solid;
    border-radius: 7px;
    border-color: rgb(67, 1, 97);
    background-image: linear-gradient(200deg, rgb(205, 129, 250),rgb(226, 209, 228));
}



/* Parte boa */
#divBotoes{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.botoes{
    border-style: solid;
    border-color: rgb(161, 84, 97);
    border-radius: 6px;
    background-color: pink;
}
.botoes:hover{
    transition-duration: 0.35s;
    scale: 1.1;
}

.tela{
    display: none;
}
.ativa{
    display: block;
}




/* Fim da página */
#hrExtras{
    rotate: 180deg;
}
#extrasTitulo{
    text-align: center;
}


/* Aplicar a todos */
body{
    background-image: linear-gradient(rgb(255, 120, 120), rgb(255, 176, 176));
    background-attachment: fixed;
}
hr{
    border-width: 5px;
    border-color: rgb(255, 120, 120);
}
