/* Requerido */
.tela{
    display: none;
}
.ativa{
    display: flex;
}


/* Cabeça da página */
#section-introducao{
    display: flex;
}
#div-introducaoInicial{
    font-size: large;
    font-weight: bolder;
    border-style: solid;
    margin: auto;
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-wrap: break-word;
    background-image: linear-gradient(45deg,rgb(255, 159, 159)10%, rgb(255, 213, 213)90%);
    border-radius: 8px;
    margin-top: 20px;
}
/* Meio da página */
hr{
    border-color: blueviolet;
    border-width: 5px;
    margin-top: 30px;
}


#div-meioBtns{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-meio{
    border-radius: 5px;
}
#section-meio1{
    justify-content: center;
}
.galeria {
    width: fit-content;
    border-radius: 10px;
}
.galeria-imagem {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}
#bloco{
    background-color: rgb(237, 210, 255);
    display: flex;
    max-width: 750px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#bloco-texto{
    margin-right: 7.5px;
}

/* importante */
h1{
    text-align: center;
    background-color: white;
    border-radius: 11px;
    border-style: solid;
    border-color: red;
}
body{
    background-image: linear-gradient(rgb(255, 167, 248),rgb(255, 213, 213));
    background-attachment: fixed;
}
