


/* Cabeça da página */
#section-introducao{
    display: flex;
}
#div-introducaoInicial{
    font-size: large;
    font-weight: bolder;
    border-style: solid;
    border-color: rgb(150, 109, 160);
    margin: auto;
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-wrap: break-word;
    background-image: linear-gradient(45deg,rgb(255, 159, 159)10%, rgb(255, 213, 213)90%);
    border-radius: 8px;
    margin-top: 20px;
}

/* Meio da página */
hr{
    border-color: rgb(201, 144, 255);
    /* border-radius: 5px; */
    width: 100%;
    border-width: 5px;
    margin-top: 30px;
}
#div-meioBtns{
    display: flex;
    justify-content: center;
    gap: 10px;
    /* background-color: white; */
}
.btn-meio{
    border-radius: 5px;
}
.btn-meio:hover{
    transition: 0.2s;
    scale: 1.1;
}


#section-meio1{
    justify-content: center;
    border-radius: 1px;
}



#tituloPrincipal{
    text-align: center;
    background-color: white;
    border-radius: 11px;
    border-style: solid;
    border-color: red;
    margin: 0 auto;
}
body{
    background-image: linear-gradient(rgb(255, 167, 248),rgb(255, 213, 213));
    background-attachment: fixed;
}
.tela{
    display: none;
}
.subTela{
    display: none;
}
.ativa{
    display: flex;
}


/* Galeria */

.btn-mudarSection{
    margin-top: 10px;
    border-radius: 5px;
    justify-content: center;
}
.btn-mudarSection:hover{
    transition: 0.2s;
    scale: 1.1;
}
#teste{
    text-align: center;
}
#subSectionTitulo{
    text-align: center;
}
#subSectionImagem{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border-style: dashed;
    position: relative;
    right: 240px;
    top: 18px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 80px;
}
#subSectionImagem:hover{
    transition: 0.2s;
    scale: 1.1;
    cursor: pointer;

}
#subSectionMain{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#subSectionTexto{
    background-image: linear-gradient(rgb(243, 212, 255), rgb(255,255,255));
    border-radius: 10px;
    width: 250px;
    height: 250px;
    overflow-wrap: break-word;
    padding: 10px;
    position: absolute;
    top: 579px;
    left: 1100px;

    font-weight: bolder;
    font-size: 19px;
    border-style: dashed;
}
#relogioTexto{
    position: absolute;
    top: 830px;
    left: 1105px;
    font-weight: bold;
}
#relogio{
    position: absolute;
    top: 832px;
    left: 1245px;
    font-weight: bold;
    /* font-size: medium; */
}

/* Musicas */

#sectionMusica{
    display: flex;
    margin-left: 225px;
    margin-top: 75px;
}
#div-MusicaTexto{
    margin-left: 125px;
    width: 300px;
    height: 190px;
    overflow-wrap: break-word;
    background-image: linear-gradient(rgb(230, 168, 255), rgb(255,255,255));
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(70, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-size: 19px;
    font-weight: 200;
}